#visualization-content {
    width: 100%;
    display: block; /* Show by default */
    height: 100vh; /* Full viewport height */
    margin-top: 20px;
}

#visualization-title {
    margin-top: 70px;
    margin-left: 850px; /* Adjust this value as needed */
    font-size: 24px;
    font-weight: bold;
    color: black;
    font-family: 'Inconsolata', sans-serif;
}

#visualization-container {
    width: 100%;
    height: 100vh; /* Full viewport height */
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffffff; /* Background color to avoid transparency issues */
    position: relative; /* To contain any absolute positioned children */
}
